{% extends 'main/base.html' %}

{% block title %}New password card{% endblock %}


{% block body %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" placeholder="USER ID" value="{{ user.id }}" name="user_id" required>
            <input type="text" placeholder="URL сайта" name="url" required><br><br>
            <input type="text" placeholder="Email сайта" name="email" required><br><br>
            <input type="text" placeholder="Пароль от  сайта" name="password" required><br><br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}