{% extends 'main/base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}


<button onclick="location.href='{% url 'add_card' %}'">Добавить данные</button>
<button onclick="location.href='{% url 'logout' %}?next=/accounts/profile'">Logout</button>

<div class="div_profile">
    {% for x in inf %}
        <div class="cards" style="box-shadow: 0px 0px 40px rgb({{ x.red }} , {{ x.green }} , {{ x.blue }});border: 1px solid rgb({{ x.red }} , {{ x.green }} , {{ x.blue }});">
            <img class="icon_of_items" style="box-shadow: 0px 0px 20px rgb({{ x.red }} , {{ x.green }} , {{ x.blue }});" src="data:image/png;base64,{{ x.icon }}" alt="Нету" width="30px" height="30px">
            <p class="name_of_service">{{ x.name_of_service }}</p>
            <div id="{{ x.id }}" style="display: none">
                <input value="{{ x.email }}" disabled>
                <input value="{{ x.password }}" disabled>
            </div>
            <button onclick='showinfo({{ x.id }})'>Показать данные</button>
        </div>
    {% endfor %}
</div>
{% endblock %}
