.auth_reg_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(to bottom right, blue, pink);
    margin-left: 450px;
    margin-right: 450px;
    height: 380px;
    border-radius: 15px;
}

.login_input {
    background: silver;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.m-top {
    margin-top: 40px;
}

.img-c {
    border: 5px solid aqua;
    padding-bottom: 25px;
    border-radius: 30%;
}

.div_profile {
    background: silver;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
}